* {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  }
  
header {
    width: 100%;
    background-color: lightblue;
    border-bottom: 10px solid #DDAF94;
  }
  
  ul {
    text-align: right;
    color: #ffffff;
    padding: 20px;
  }
  
  /* List items in navigation bar */
  li {
    /* Sets display to inline */
    display: inline;
    list-style-type: none;
  }

  .bar1 {
    width: 50%;
    background-color: tan;
    padding: 20px;
  }

  .container {
    font-family: "Lucida Console", Monaco, monospace;
    color: black;
    background-color: white;
  }